<div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-6">Coupons</h2>
  
    <div class="overflow-x-auto">
      <table mat-table [dataSource]="coupons" class="w-full">
        <!-- Code Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let coupon">{{coupon.code}}</td>
        </ng-container>
  
        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let coupon">{{coupon.type}}</td>
        </ng-container>
  
        <!-- Value Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let coupon">
            {{coupon.type === 'percentage' ? coupon.value + '%' : coupon.value +' '+ 'Rs'}}
          </td>
        </ng-container>
  
        <!-- Max Uses Column -->
        <ng-container matColumnDef="maxUses">
          <th mat-header-cell *matHeaderCellDef>Max Uses</th>
          <td mat-cell *matCellDef="let coupon">{{coupon.maxUses}}</td>
        </ng-container>
  
        <!-- Current Uses Column -->
        <ng-container matColumnDef="currentUses">
          <th mat-header-cell *matHeaderCellDef>Current Uses</th>
          <td mat-cell *matCellDef="let coupon">{{coupon.currentUses}}</td>
        </ng-container>
  
        <!-- Expiry Date Column -->
        <ng-container matColumnDef="expiryDate">
          <th mat-header-cell *matHeaderCellDef>Expiry Date</th>
          <td mat-cell *matCellDef="let coupon">{{coupon.expiryDate | date}}</td>
        </ng-container>
  
        <!-- Actions Column -->
       <!-- Actions Column -->
<ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let coupon">
      <div class="flex gap-2">
        <button mat-icon-button color="primary" (click)="editCoupon(coupon)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteCoupon(coupon._id,coupon.code)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator
        [length]="totalItems"
        [pageSize]="itemsPerPage"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChange($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
