<div class="container" [ngClass]="{ 'dark-mode': isDarkMode, 'light-mode': !isDarkMode }">
    <!-- Dark Mode Toggle -->
    <button class="toggle-btn" (click)="toggleDarkMode()">
        {{ isDarkMode ? '🌞 Light Mode' : '🌙 Dark Mode' }}
    </button>

    <div class="form-wrapper">
        <h1 class="font-semibold">Instructor Login</h1>

        <form [formGroup]="instructorLogin" (ngSubmit)="onSubmit()">
            <!-- Email Input -->
            <div class="input-group">
                <label for="email">Email Address</label>
                <input class="dark:text-white dark:bg-gray-700" id="email" type="email" formControlName="emailaddress" placeholder="Enter your email">
                <p class="error" *ngIf="instructorLogin.get('emailaddress')?.invalid && instructorLogin.get('emailaddress')?.touched">
                    <span *ngIf="instructorLogin.get('emailaddress')?.errors?.['required']">Email is required</span>
                    <span *ngIf="instructorLogin.get('emailaddress')?.errors?.['email']">Please enter a valid email</span>
                </p>
            </div>

            <!-- Password Input -->
            <div class="input-group">
                <label for="password">Password</label>
                <input class="dark:text-white dark:bg-gray-700" id="password" type="password" formControlName="password" placeholder="Enter your password">
                <p class="error" *ngIf="instructorLogin.get('password')?.invalid && instructorLogin.get('password')?.touched">
                    <span *ngIf="instructorLogin.get('password')?.errors?.['required']">Password is required</span>
                </p>
            </div>

            <!-- Submit Button -->
            <button class="action-btn" type="submit" [disabled]="instructorLogin.invalid">Submit</button>
        </form>

        <a 
        [routerLink]="['/instructor/forgotpasswordins']" 
        class="text-blue-400 hover:text-blue-500 transition duration-300 text-sm font-medium"
      >
        Forgot password?
      </a>
      
    </div>
</div>
