<form [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()" class="max-w-2xl mx-auto">
  <div class="space-y-6">
      <mat-form-field class="w-full">
        <mat-label>Course Title</mat-label>
        <input matInput formControlName="title" placeholder="Enter course title">
        <mat-error *ngIf="basicInfoForm.get('title')?.errors?.['required']">Title is required</mat-error>
        <mat-error *ngIf="basicInfoForm.get('title')?.errors?.['minlength']">Title must be at least 5 characters</mat-error>
        <mat-error *ngIf="basicInfoForm.get('title')?.errors?.['pattern']">Title contains special characters</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category._id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-full">
          <mat-label>Course Topic</mat-label>
          <input matInput formControlName="courseTopic" placeholder="Enter course topic">
          <mat-error *ngIf="basicInfoForm.get('courseTopic')?.errors?.['required']">Course topic is required</mat-error>
          <mat-error *ngIf="basicInfoForm.get('courseTopic')?.errors?.['pattern']">Course topic contains special characters</mat-error>
           <mat-error *ngIf="basicInfoForm.get('courseTopic')?.errors?.['minlength']">Title must be at least 3 characters</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
          <mat-label>Price (USD)</mat-label>
          <input matInput type="number" formControlName="price" placeholder="Enter course price">
          <mat-error *ngIf="basicInfoForm.get('price')?.errors?.['required']">Price is required</mat-error>
          <mat-error *ngIf="basicInfoForm.get('price')?.errors?.['min']">Price cannot be negative or zero</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
          <mat-label>Language</mat-label>
          <mat-select formControlName="courseLanguage">
            <mat-option *ngFor="let language of languages" [value]="language">
              {{language}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="basicInfoForm.get('courseLanguage')?.errors?.['required']">Language is required</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
          <mat-label>Duration (hours)</mat-label>
          <input matInput type="number" formControlName="duration" placeholder="Enter course duration">
          <mat-error *ngIf="basicInfoForm.get('duration')?.errors?.['required']">Duration is required</mat-error>
          <mat-error *ngIf="basicInfoForm.get('duration')?.errors?.['min']">Duration cannot be negative</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
          <mat-label>Level</mat-label>
          <mat-select formControlName="courseLevel">
            <mat-option *ngFor="let level of levels" [value]="level">
              {{level}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="basicInfoForm.get('courseLevel')?.errors?.['required']">Course level is required</mat-error>
      </mat-form-field>


        <div class="flex justify-end">
          <button mat-raised-button color="primary" type="submit" [disabled]="!basicInfoForm.valid">
            Next
          </button>
        </div>
      </div>
    </form>
        
