<div class="container" [ngClass]="{ 'dark-mode': isDarkMode, 'light-mode': !isDarkMode }">
   <!-- Theme Toggle Button -->
   <button class="toggle-btn" (click)="toggleDarkMode()">
       {{ isDarkMode ? '🌞 Light Mode' : '🌙 Dark Mode' }}
   </button>

   <div class="form-wrapper">
      

       <h1>Instructor Registration</h1>

       <form [formGroup]="instructorRegistration" (ngSubmit)="insRegistration()" enctype="multipart/form-data">
           <div class="input-group">
               <label>Name:</label>
               <input type="text" formControlName="instructorname">
           </div>

           <div class="input-group">
               <label>Email address:</label>
               <input type="email" formControlName="emailaddress">
           </div>

           <div class="input-group">
               <label>Password:</label>
               <input type="password" formControlName="password">
           </div>

           <div class="input-group">
               <label>Confirm Password:</label>
               <input type="password" formControlName="confirmpassword">
           </div>

           <div class="input-group file-upload">
               <label>Certificate:</label>
               <input type="file" (change)="onFileSelect($event)">
           </div>

           <button class="action-btn" type="submit" [disabled]="instructorRegistration.invalid">Submit Form</button>
       </form>

       <button class="mt-4 text-red-400" [routerLink]="['/instructor/login']">already registered?Login</button>
   </div>
</div>
